* {
    margin: 0;
    padding: 0;
    background-color: rgb(253, 190, 72);
}
  /* HOME*/
p { color: blue;
}
  /*menu*/

  /* Horaire*/

  /*contact*/
.id {
    color: aqua;
  }
  h1 {
    color: blueviolet;
  }